body {
  background-color: #f5f5f0;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#appTodo {
  justify-content: center;
  align-items: center;
}
#appPresentacion {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#panelPresentacion {
  text-align: center;
  font-size: 20px;
}
#headerProgressLogScore {
  text-align: center ;
}
#logo {
  width:150px;
}
#myVideo {
  float: right;
  position: relative;


}
#logo {
  width:150px;
}

#respuesta {
  font-size: 18px;
}

#ProgressBarTimeDown {
  width:100px;
}
#buttonApp {
  padding: 10px;
  margin-left: 10px;
  color: black;
  background: white;
  border: 2px solid black;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f5f5f0;
  width: 150px;
  text-align: center;
}
#textoBienvenida {
  text-align: center;
}
#jumbotronApp {
  font-size: 50px;
}
#Quiz {
  width: 200px;
  height: 200px;
  float: right;
  position: relative;
}
#Panel {
  width: 750px;
  height: 750px;
  float: right;
  position: relative;
  justify-content: center;
  align-items: stretch;
}
#tiempo {
  font-size: 30px;
  text-align: center;
}
#solucion {
  font-size: 20px;
}
div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
  text-align: right;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
  text-align: center;
}

#tracking span {
  margin-right: 40px;
  text-align: center;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
  text-align: center;
}
