div.divmyVideoExamen{
  video::-webkit-media-controls {
    display: none;
  }
}

#myVideoExamen{
  width: 90%;
  height: 20%;
  video::-webkit-media-controls {
    display: none;
  }
}
#myVideoRepaso{
  width: 90%;
  height: 20%;
}


div.divmyVideoExamen {
  width: 90%;
  height: 50%;
}
