div.divmyVideoExamen{
  video::-webkit-media-controls {
    display: none;
  }
  video::-webkit-media-controls-download-button {
    display:none;
  }
  video::-webkit-media-controls-enclosure {
    overflow:hidden;
 }

 video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
 }
}

#myVideoExamen{
  width: 90%;
  height: 350px;
  video::-webkit-media-controls {
    display: none;
  }
}
#myVideoRepaso{
  width: 90%;
  height: 400px;
}
