div.divmyVideoExamen{
  video::-webkit-media-controls {
    display: none;
  }
}

#myVideoExamen{
  width: 90%;
  height: 350px;
  video::-webkit-media-controls {
    display: none;
  }
}
#myVideoRepaso{
  width: 90%;
  height: 400px;
}
